<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nz.co.modtec.integbdm">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- android:theme="@style/AppTheme" -->
        <activity
            android:name=".Mainmenu"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Configurator"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Configurator_spinner"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExtrusionListActivity"
            android:label="@string/title_extrusion_list"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.modtec.integbdm.Mainmenu" />
        </activity>
        <activity
            android:name=".ExtrusionDetailActivity"
            android:label="@string/title_extrusion_detail"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.modtec.integbdm.ExtrusionListActivity" />
        </activity>
        <activity
            android:name=".OpenPDF"
            android:label="PDF"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.modtec.integbdm.Mainmenu" />
        </activity>

        <provider
            android:name=".FileProvider"
            android:authorities="nz.co.modtec.integbdm"
            android:exported="true" />

        <activity
            android:name=".Pricelist"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
    </application>

</manifest>